{% load static %}

<body>
  <!-- Preloader  -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="35331 Westheimer Parkway, Katy, Texas, 77494 USA"><i class="fa fa-map-marker"></i> <span>35331 Westheimer Parkway, Katy, Texas, 77494 USA</span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="drwhitfrankling@gmail.com"><i class="fa fa-envelope"></i> <span>drwhitfrankling@gmail.com</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->